<header class="main-header">

    <!-- Logo -->
    <a href="index2.html" class="logo">
      
      <span class="logo-mini"><b>Agenda</b>LT</span>
     
      <span class="logo-lg"><b>Agenda</b>LTE</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
    
      <div class="navbar-custom-menu">
       <p style="color:white">wlgodoy20@gmail.com - ADMIN | <button>Teste</button></p>
      </div>

    </nav>
  </header>

