
<aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li class="treeview">
          <a href="#">
            <i class="fa fa-edit"></i> <span>Users</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i>Listar Contatos</a></li>
            <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Adcionar Contato</a></li>
            
          </ul>
        </li>
    </ul>
    </section>
  </aside>